:host {
    display: block;
    width: 100%;
}

:host([loading]) {
    cursor: progress;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--p9r-space-lg, 24px);
    width: 100%;
}

::slotted(*) {
    margin-block: 0;
}

::slotted(input),
::slotted(select),
::slotted(textarea),
::slotted(base-search-input) {
    margin: 0 !important;
}

::slotted(input[type="submit"]) {
    width: 100%;
}

:host([loading]) ::slotted(button),
:host([loading]) ::slotted(input),
:host([loading]) ::slotted(select),
:host([loading]) ::slotted(textarea),
:host([loading]) ::slotted(base-search-input) {
    cursor: progress;
}
