{
  "openapi": "3.0.0",
  "info": {
    "title": "Bernouy Hub API",
    "version": "0.1.0",
    "description": "Tenant orchestration API. Authenticate with a Keycloak service-account JWT in the configured api-auth realm."
  },
  "servers": [
    {
      "url": "https://hub.bernouy.com",
      "description": "production"
    }
  ],
  "components": {
    "schemas": {
      "IssuerInfo": {
        "type": "object",
        "properties": {
          "iss": {
            "type": "string"
          },
          "jwksUrl": {
            "type": "string"
          },
          "metadocUrl": {
            "type": "string"
          },
          "allowlistEntry": {
            "type": "object",
            "properties": {
              "iss": {
                "type": "string"
              },
              "role": {
                "type": "string",
                "enum": [
                  "control-plane"
                ]
              }
            },
            "required": [
              "iss",
              "role"
            ]
          }
        },
        "required": [
          "iss",
          "jwksUrl",
          "metadocUrl",
          "allowlistEntry"
        ]
      },
      "HubErrorEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "ok",
          "error"
        ]
      },
      "TenantProvisionerImportSummary": {
        "type": "object",
        "properties": {
          "providerId": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "providerKind": {
            "type": "string"
          },
          "iss": {
            "type": "string"
          },
          "importedAt": {
            "type": "string"
          },
          "cachedAt": {
            "type": "string"
          }
        },
        "required": [
          "providerId",
          "url",
          "iss",
          "importedAt",
          "cachedAt"
        ]
      },
      "TenantProvisionerImport": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TenantProvisionerImportSummary"
          },
          {
            "type": "object",
            "properties": {
              "schemas": {
                "type": "object",
                "properties": {
                  "info": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "metadoc": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "jwks": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "openapiAdmin": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "tenantConfig": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "tenantConfigVersion": {
                    "type": "string"
                  }
                },
                "required": [
                  "info",
                  "metadoc",
                  "jwks",
                  "openapiAdmin"
                ]
              }
            },
            "required": [
              "schemas"
            ]
          }
        ]
      },
      "LogPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LogRecord"
            }
          },
          "nextCursor": {
            "type": "string"
          },
          "failedProviders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "items"
        ]
      },
      "LogRecord": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string"
          },
          "level": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "tenantId": {
            "type": "string",
            "nullable": true
          },
          "actor": {
            "type": "string"
          },
          "visibility": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "outcome": {
            "type": "string"
          },
          "iss": {
            "type": "string"
          },
          "sub": {
            "type": "string"
          },
          "ctx": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "schemaVersion": {
            "type": "string"
          },
          "ts": {
            "type": "string"
          },
          "providerId": {
            "type": "string"
          }
        },
        "required": [
          "kind",
          "level",
          "event",
          "tenantId",
          "actor",
          "visibility",
          "requestId",
          "schemaVersion",
          "ts",
          "providerId"
        ]
      },
      "ImportTenantProvisionerInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Base URL of the tenant-provisioner (no trailing slash).",
            "example": "https://delivery.acme.com"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Optional UI label.",
            "example": "Acme Delivery"
          }
        },
        "required": [
          "url"
        ]
      },
      "DeleteNamespaceResult": {
        "type": "object",
        "properties": {
          "namespaceId": {
            "type": "string"
          }
        },
        "required": [
          "namespaceId"
        ]
      },
      "Namespace": {
        "type": "object",
        "properties": {
          "namespaceId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "namespaceId",
          "displayName",
          "createdAt"
        ]
      },
      "CreateNamespaceInput": {
        "type": "object",
        "properties": {
          "namespaceId": {
            "type": "string",
            "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$",
            "description": "URL-safe id (lowercase + digits + dash, ≤63 chars).",
            "example": "acme"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "example": "ACME Corp"
          },
          "description": {
            "type": "string",
            "maxLength": 2000
          }
        },
        "required": [
          "namespaceId",
          "displayName"
        ]
      },
      "UpdateNamespaceInput": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 2000
          }
        }
      },
      "NamespaceList": {
        "type": "object",
        "properties": {
          "namespaces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Namespace"
            }
          }
        },
        "required": [
          "namespaces"
        ]
      },
      "TenantList": {
        "type": "object",
        "properties": {
          "tenants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tenant"
            }
          }
        },
        "required": [
          "tenants"
        ]
      },
      "Tenant": {
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "namespaceId": {
            "type": "string"
          },
          "providerId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "issuers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "config": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended"
            ]
          },
          "activatedAt": {
            "type": "string"
          }
        },
        "required": [
          "tenantId",
          "namespaceId",
          "providerId",
          "issuers",
          "status",
          "activatedAt"
        ]
      },
      "CreateTenantInput": {
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string",
            "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$",
            "description": "Optional explicit id; generated from the providerId when omitted.",
            "example": "acme-addresses-fr-a1b2c3d4"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "issuers": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "default": [],
            "description": "Trusted issuers granted tenant-role on this TP. May be empty (issuers can be attached later). Each iss is globally unique across tenants."
          },
          "providerConfig": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        }
      },
      "UpdateTenantInput": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "issuers": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Trusted issuers granted tenant-role on this TP. May be empty (issuers can be attached later). Each iss is globally unique across tenants."
          },
          "providerConfig": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended"
            ]
          }
        }
      },
      "TenantInfo": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TenantInfoField"
            }
          }
        },
        "required": [
          "fields"
        ]
      },
      "TenantInfoField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "text",
              "url",
              "code"
            ]
          }
        },
        "required": [
          "label",
          "value"
        ]
      }
    },
    "parameters": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/api/issuer": {
      "get": {
        "summary": "Hub-issuer metadata + allowlist snippet",
        "description": "Returns the hub's iss URL, JWKS URL, metadoc URL, and a ready-to-copy allowlist entry the operator pastes into each TP's config before importing it.",
        "operationId": "getHubIssuer",
        "tags": [
          "issuer"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Issuer info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/IssuerInfo"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/providers": {
      "delete": {
        "summary": "Unimport (forget) a tenant-provisioner",
        "description": "Removes the TP from the hub's meta-registry. Does NOT touch the TP's own tenants — their data stays intact on the TP. To clean up tenants on the TP, call DELETE /api/tenants/providers BEFORE this.",
        "operationId": "unimportTenantProvisioner",
        "tags": [
          "providers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "delivery-acme"
            },
            "required": true,
            "name": "providerId",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": "Unimported"
          },
          "400": {
            "description": "Missing providerId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown providerId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List imported tenant-provisioners (or get one)",
        "description": "Without `?providerId=`: returns the list (summaries — no schemas). With `?providerId=X`: returns the full row including the 4 cached schemas.",
        "operationId": "listTenantProvisioners",
        "tags": [
          "providers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "If set, returns the single TP with that id (incl. cached schemas); otherwise returns the list."
            },
            "required": false,
            "description": "If set, returns the single TP with that id (incl. cached schemas); otherwise returns the list.",
            "name": "providerId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List or single TP",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "providers": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/TenantProvisionerImportSummary"
                              }
                            }
                          },
                          "required": [
                            "providers"
                          ]
                        },
                        {
                          "$ref": "#/components/schemas/TenantProvisionerImport"
                        }
                      ]
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown providerId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Import a tenant-provisioner",
        "description": "Fetches the TP's 4 discovery documents (/.well-known/tenant-provisioner-info, /.well-known/oauth-authorization-server, JWKS, /openapi.admin.json, opt. /openapi.tenant-config.json), validates them, and stores the result in the hub's meta-registry. The TP MUST already trust the hub's iss as control-plane.",
        "operationId": "importTenantProvisioner",
        "tags": [
          "providers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportTenantProvisionerInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Imported",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/TenantProvisionerImport"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Already imported (providerId/url/iss)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "TP unreachable / refused hub trust",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/providers/logs": {
      "get": {
        "summary": "Read a tenant-provisioner's logs (all tenants)",
        "description": "Proxies the TP's control-plane GET /admin/logs. Filters kind/level/time, bounded pagination via cursor.",
        "operationId": "fetchProviderLogs",
        "tags": [
          "logs"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "security",
                "audit",
                "request"
              ]
            },
            "required": false,
            "name": "kind",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "debug",
                "info",
                "warn",
                "error"
              ]
            },
            "required": false,
            "name": "level",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "sinceTs",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "untilTs",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "maximum": 200
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "providerId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Bounded log page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/LogPage"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown TP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "TP refused / unreachable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/providers/refresh": {
      "post": {
        "summary": "Refresh a tenant-provisioner's cached schemas",
        "description": "Re-fetches the 4 discovery documents and updates the cache. Call after a version bump on the TP.",
        "operationId": "refreshTenantProvisioner",
        "tags": [
          "providers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "delivery-acme"
            },
            "required": true,
            "name": "providerId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/TenantProvisionerImport"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing providerId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown providerId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "TP unreachable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/namespaces": {
      "delete": {
        "summary": "Delete a namespace (cascade)",
        "description": "Deactivates the namespace on every TP it has a provision on (best-effort), then drops the namespace + provisions rows. Operator must accept the destructive side-effects on tenant-provisioners.",
        "operationId": "deleteNamespace",
        "tags": [
          "namespaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$",
              "description": "URL-safe id (lowercase + digits + dash, ≤63 chars).",
              "example": "acme"
            },
            "required": true,
            "description": "URL-safe id (lowercase + digits + dash, ≤63 chars).",
            "name": "namespaceId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Cascade-deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/DeleteNamespaceResult"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown namespace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "At least one TP failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a namespace",
        "description": "Pure metadata — the hub does NOT create Keycloak realms, OIDC clients, or users. A namespace is just a logical grouping of (TP × tenant) provisions.",
        "operationId": "createNamespace",
        "tags": [
          "namespaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNamespaceInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Namespace created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Namespace"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "namespaceId already taken",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a namespace's metadata",
        "description": "Patches displayName and/or description. namespaceId itself is immutable (it's also used as tenantId on every TP).",
        "operationId": "updateNamespace",
        "tags": [
          "namespaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$",
              "description": "URL-safe id (lowercase + digits + dash, ≤63 chars).",
              "example": "acme"
            },
            "required": true,
            "description": "URL-safe id (lowercase + digits + dash, ≤63 chars).",
            "name": "namespaceId",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNamespaceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Namespace"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List namespaces (or fetch one)",
        "description": "Without `namespaceId`: returns the list. With `?namespaceId=X`: returns one or 404.",
        "operationId": "listNamespaces",
        "tags": [
          "namespaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "If set, returns the single namespace or 404."
            },
            "required": false,
            "description": "If set, returns the single namespace or 404.",
            "name": "namespaceId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/NamespaceList"
                        },
                        {
                          "$ref": "#/components/schemas/Namespace"
                        }
                      ]
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown namespaceId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/namespaces/logs": {
      "get": {
        "summary": "Read a namespace's logs (all its tenants)",
        "description": "Aggregates logs across every tenant of the namespace (possibly on different TPs), merged + sorted by ts desc, truncated to `limit`. No cursor (heterogeneous sources).",
        "operationId": "fetchNamespaceLogs",
        "tags": [
          "logs"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "security",
                "audit",
                "request"
              ]
            },
            "required": false,
            "name": "kind",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "debug",
                "info",
                "warn",
                "error"
              ]
            },
            "required": false,
            "name": "level",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "sinceTs",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "untilTs",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "maximum": 200
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "namespaceId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Merged log page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/LogPage"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown namespace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "TP refused / unreachable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/namespaces/tenants": {
      "get": {
        "summary": "List or fetch tenants",
        "description": "`?namespaceId=X`: tenants in a namespace. `?providerId=X`: tenants for a TP. `?tenantId=X`: a single tenant (200 + null when absent).",
        "operationId": "listTenants",
        "tags": [
          "tenants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "namespaceId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "providerId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "tenantId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Tenants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/TenantList"
                        },
                        {
                          "$ref": "#/components/schemas/Tenant"
                        },
                        {
                          "nullable": true
                        }
                      ]
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a tenant to a namespace for a TP",
        "description": "Mints a hub CP token, POSTs /admin/tenants on the TP with a fresh `tenantId` + issuers + optional `providerConfig`, then mirrors the row. A namespace may hold multiple tenants of the same TP.",
        "operationId": "createTenant",
        "tags": [
          "tenants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$",
              "description": "URL-safe id (lowercase + digits + dash, ≤63 chars).",
              "example": "acme"
            },
            "required": true,
            "description": "URL-safe id (lowercase + digits + dash, ≤63 chars).",
            "name": "namespaceId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "providerId",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTenantInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Tenant"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query / body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown namespace or TP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "TP refused / unreachable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a tenant",
        "description": "PATCHes `issuers`, `providerConfig`, and/or `status` on the TP, mirrors in the hub. `displayName` is hub-local only.",
        "operationId": "updateTenant",
        "tags": [
          "tenants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$",
              "description": "Globally-unique tenant id (lowercase + digits + dash, ≤63 chars). Sent to the TP as `tenantId`.",
              "example": "acme-addresses-fr-a1b2c3d4"
            },
            "required": true,
            "description": "Globally-unique tenant id (lowercase + digits + dash, ≤63 chars). Sent to the TP as `tenantId`.",
            "name": "tenantId",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTenantInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Tenant"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown tenant or TP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "TP refused / unreachable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove a tenant",
        "description": "DELETE /admin/tenants on the TP, then drop the local row. `?force=true` overrides the TP's grace policy (base.md §8).",
        "operationId": "removeTenant",
        "tags": [
          "tenants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$",
              "description": "Globally-unique tenant id (lowercase + digits + dash, ≤63 chars). Sent to the TP as `tenantId`.",
              "example": "acme-addresses-fr-a1b2c3d4"
            },
            "required": true,
            "description": "Globally-unique tenant id (lowercase + digits + dash, ≤63 chars). Sent to the TP as `tenantId`.",
            "name": "tenantId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "required": false,
            "name": "force",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": "Removed"
          },
          "400": {
            "description": "Invalid query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "TP refused / unreachable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/namespaces/tenants/logs": {
      "get": {
        "summary": "Read a tenant's logs",
        "description": "Resolves the tenant's TP, then proxies GET /admin/logs scoped to that tenant. Filters kind/level/time, bounded pagination via cursor.",
        "operationId": "fetchTenantLogs",
        "tags": [
          "logs"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "security",
                "audit",
                "request"
              ]
            },
            "required": false,
            "name": "kind",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "debug",
                "info",
                "warn",
                "error"
              ]
            },
            "required": false,
            "name": "level",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "sinceTs",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "untilTs",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "maximum": 200
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "tenantId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Bounded log page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/LogPage"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown tenant or TP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "TP refused / unreachable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/namespaces/tenants/info": {
      "get": {
        "summary": "Read a tenant's TP-computed info",
        "description": "Resolves the tenant's TP and proxies GET /admin/info — read-only facts the provider surfaces (e.g. a realm issuer URL). Distinct from the editable §11 config.",
        "operationId": "fetchTenantInfo",
        "tags": [
          "tenants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "tenantId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant info (may be empty)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/TenantInfo"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown tenant or TP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "TP refused / unreachable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/namespaces/tenants/config": {
      "get": {
        "summary": "Read the live config from the TP for a tenant",
        "description": "GETs /admin/config on the TP. Returns 200 with `data: null` when nothing is stored yet (so the UI doesn't see a 404 in DevTools).",
        "operationId": "fetchTenantConfig",
        "tags": [
          "tenants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$",
              "description": "Globally-unique tenant id (lowercase + digits + dash, ≤63 chars). Sent to the TP as `tenantId`.",
              "example": "acme-addresses-fr-a1b2c3d4"
            },
            "required": true,
            "description": "Globally-unique tenant id (lowercase + digits + dash, ≤63 chars). Sent to the TP as `tenantId`.",
            "name": "tenantId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Config from TP",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "version": {
                          "type": "string"
                        },
                        "config": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        }
                      },
                      "required": [
                        "version",
                        "config"
                      ]
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown tenant / TP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "TP refused / unreachable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Public liveness probe",
        "description": "Returns 200 if the hub process is up. Does NOT cross the network to any tenant-provisioner.",
        "operationId": "health",
        "tags": [
          "health"
        ],
        "responses": {
          "200": {
            "description": "Process up",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "alive"
                      ]
                    }
                  },
                  "required": [
                    "ok",
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
