:host {
    --spacing-size: 1.5rem;
    display: block;
    width: 100%;
}

.spacer {
    height: var(--spacing-size);
}

:host([size="xs"]) { --spacing-size: 0.5rem; }
:host([size="s"])  { --spacing-size: 1rem; }
:host([size="m"])  { --spacing-size: 2rem; }
:host([size="l"])  { --spacing-size: 3.5rem; }
:host([size="xl"]) { --spacing-size: 5.5rem; }
