:host {
    --ulvia-official-stack-gap: var(--ulvia-official-spacing-lg, 1.5rem);
    --ulvia-official-stack-direction: column;
    --ulvia-official-stack-wrap: nowrap;
    display: block;
}

[part="stack"] { display: flex; flex-direction: var(--ulvia-official-stack-direction); flex-wrap: var(--ulvia-official-stack-wrap); gap: var(--ulvia-official-stack-gap); align-items: stretch; }
:host([gap="none"]) { --ulvia-official-stack-gap: 0rem; }
:host([gap="sm"]) { --ulvia-official-stack-gap: var(--ulvia-official-spacing-sm, .75rem); }
:host([gap="md"]) { --ulvia-official-stack-gap: var(--ulvia-official-spacing-md, 1rem); }
:host([gap="xl"]) { --ulvia-official-stack-gap: var(--ulvia-official-spacing-xl, 2rem); }
:host([align="start"]) [part="stack"] { align-items: flex-start; }
:host([align="center"]) [part="stack"] { align-items: center; }
:host([align="end"]) [part="stack"] { align-items: flex-end; }
